@import "reset"
@import "fonts"
@import "_fontello.scss"
@import "utils"

$black: #2E0900
$echapLiveColor: #FF8A0F
$echapPlaygroundColor: #00CCFF
$echapNightColor: #FF434A
$pink: #E95A95
$yellow: #FCC600
$backgroundColor :#f4db96

//////// Grid /////////////

@function getSizeForNColumns($n)
  @return $colSize * $n - $gutter

// Grid display for debug (edited by dnsfng)

  // use a fluid value to set the grid wrapper.
  // this comes from 1200/1280 * 100 = 93.75%.
  // vw means viewport width.

$gridWidth: 93.75vw
$colSize: $gridWidth/12
$gutter: $colSize*0.255

$smallScreenMedia: 1060px
$bigScreenMedia: 1300px

.grid
  width: $gridWidth
  // max-width: $laptopWidth // could be set as media queries also
  // min-width: $tabletWidth // could be set as media queries also
  height: 100%
  position: fixed
  top: 0
  left: 50%
  margin-left: -1*($gridWidth/2)
  z-index: 999
  pointer-events: none
  border-right: 1px solid #0f0

  & > div
    float: left
    position: relative
    height: 100%
    width: percentage(100/12/100) // split the wrapper in 12 equals columns 
    border-left: 1px solid #0f0

    &:after // we can use the after to display the unit part in red, and make the gutter transparents
      $width: 75%

      content: ""
      position: absolute
      left: 50%
      height: 100%
      width: $width
      margin-left: -($width/2)
      background-color: rgba(255, 0, 0, 0.1)

  &.hidden
    display: none


//////// end Grid ////////

a
  text-decoration: none
  border-bottom: 1px solid $black
  color: $black
  padding-bottom: 2px

h2
  display: table
  margin: 30px auto 0 auto
  margin-bottom: 50px
  font-weight: 600
  text-transform: uppercase
  font-size: 28px
  padding: 30px 30px
  text-align: center
  border: 5px solid currentColor

h3
  color: $pink
  font-size: 22px
  line-height: 30px
  font-weight: 600
  text-transform: uppercase
  margin-bottom: 25px

  &.yellow
    color: $yellow

h4, .infos strong
  color: $pink

.gradient
  background: rgba(255,84,155,1)
  background: -moz-linear-gradient(30deg, rgba(255,84,155,1) 0%, rgba(255,204,0,1) 100%)
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,84,155,1)), color-stop(100%, rgba(255,204,0,1)))
  background: -webkit-linear-gradient(30deg, rgba(255,84,155,1) 0%, rgba(255,204,0,1) 100%)
  background: -o-linear-gradient(30deg, rgba(255,84,155,1) 0%, rgba(255,204,0,1) 100%)
  background: -ms-linear-gradient(30deg, rgba(255,84,155,1) 0%, rgba(255,204,0,1) 100%)
  background: linear-gradient(30deg, rgba(255,84,155,1) 0%, rgba(255,204,0,1) 100%)

body
  background: $backgroundColor
  color: #2E0900
  font-size: 16px
  font-family: "Apercu", Arial, sans-serif
  line-height: 18px
  -webkit-font-smoothing: antialiased
  letter-spacing: -0.3px // wut ?

menu
  position: fixed
  z-index: 99
  top: 0
  left: 50%
  height: 120px
  margin-left: getSizeForNColumns(12)/2*-1
  width: getSizeForNColumns(12)
  font-weight: bold
  font-size: 20px
  text-transform: uppercase


  &.collapsed

    &:hover
      .nav--helper
        display: none

      .nav--anchors
        display: block      

    .nav--helper
      display: block

    .nav--anchors
      display: none
  
  .nav
    margin: 35px 0 0

    .nav--anchors, .nav--helper
      position: absolute
      left: 0

  li
    float: left
    margin-right: 50px
    line-height: 50px
    cursor: pointer

    @media screen and (max-width: $smallScreenMedia)
        margin-right: 30px

    a
      border: none
      line-height: 50px

    &:hover
      cursor: pointer
      color: red // TODO : update text hover color
      border-bottom: 2px solid red // TODO : update border color

    &.nav--helper:hover, &.nav--anchors
      color: inherit
      border-bottom: none

    &.nav--tickets
      float: right
      margin-right: 0


    &.nav--helper
      display: none

      &:before
        content: '\e800'
        font-family: "fontello"
        position: absolute
        right: 100%
        margin: 2px 6px 0 0
        font-size: 40px
  

    

.smoke-background
  background: url('/assets/__background-60q.jpg') repeat
  background-size: cover


  .intro
    height: 80vh
    padding-top: 165px

  .logo
    width: getSizeForNColumns(6)
    height: 45vh
    margin: 0 auto
    margin-bottom: 6vw
    background: url('/assets/__logo-@1x.png') no-repeat 50% 50%
    background-size: 100% auto


    @media screen and (min-width: $bigScreenMedia)
      background: url('/assets/__logo-@2x.png') no-repeat 50% 50%
      background-size: 100% auto


  .main-infos
    text-align: center
    font-size: 28px
    

    .dates
      font-weight: bold
      margin-right: 30px

    .place
      margin-right: 20px

    .social
      width: 26px
      height: 26px
      margin-right: 20px
      display: inline-block
      vertical-align: middle
      background-position: 0 0
      background-size: 26px 26px

      &:last-child
        margin-right: 0

      a
        border: none
        width: 26px
        height: 26px
        display: inline-block

      &.fb
        background-image: url('/assets/fb-black.svg')

      &.twitter
        background-image: url('/assets/twitter-black.svg')

      &.instagram
        background-image: url('/assets/insta-black.svg')
        width: 24px
        height: 24px
        background-size: 100% 100%



  // Programmation
  .per-day
    width: getSizeForNColumns(10)
    margin: 0 auto

    .day
      float: left

      &:first-child
        width: 33.34%

      &:last-child
        width: 63.91%
        margin-left: 2.75%

      .header
        margin-bottom: 20px
        border-top: 2px solid $black
        border-bottom: 2px solid $black
        padding: 22.5px 0
        text-align: center
        font-size: 20px

        @media screen and (max-width: $smallScreenMedia)
          font-size: 16px

        em
          font-weight: 600


      .party
        &.two-cols
          float: left
          width: 44%

          &:first-child
            margin-right: 8%


      .party-name
        color: #FFF
        padding: 10px 30px
        text-align: center
        display: table
        margin: 0 auto
        text-transform: uppercase
        transform: rotate(-5deg)
        -webkit-transform: rotate(-5deg)
        -moz-transform: rotate(-5deg)
        font-weight: bold
        font-size: 22px
        font-style: italic
        margin-bottom: 25px

      .party-hours
        text-align: center
        margin-bottom: 25px

      .party-lineup
        height: 307px

        li
          font-size: 28px
          font-weight: 600
          text-align: center
          line-height: 45px
          cursor: pointer

          span
            font-size: 20px
            font-weight: 200

      .echap-live
        width: 190px
        background-color: $echapLiveColor
        margin-top: 49px

      .echap-playground
        background-color: $echapPlaygroundColor
        margin-top: 29px
        padding: 10px 15px


      .echap-night
        padding: 10px 15px
        background-color: $echapNightColor
        margin-top: 30px


      .party-buy
        margin-bottom: 30px
        margin-left: auto
        margin-right: auto
        width: 220px

        a
          display: inline-block
          text-align: center
          width: 100%
          border: none
          
        .buy
          text-transform: uppercase
          background-color: $black
          color: #FFF
          padding: 20px 0
          margin-bottom: 30px
          font-weight: 600
          font-size: 20px

          span
            font-weight: 200

          &.free
            display: inline-block
            text-align: center
            width: 100%
            border: none
            background-color: #FFF
            color: $echapPlaygroundColor
            cursor: default

        a.fb
          font-size: 16px
          padding-bottom: 3px
          border-bottom: 1px solid $black
          letter-spacing: -0.2px



.edito
  width: $gridWidth
  margin: 0 auto
  position: relative
  margin-bottom: 200px

  h2
    position: absolute
    left: $colSize*3 + $gutter
    top: 60px
  
  img
    top: 30vw
    position: absolute
    width: getSizeForNColumns(5)

    @media screen and (min-width: 1200px)
      top: 200px
      width: 500px

  .content
    width: $colSize*8
    float: right
    background-color: rgba(255, 255, 255, 1)
    padding-top: 100px
    padding-bottom: 100px 

    .title
      color: $echapLiveColor
      font-weight: 600
      font-size: 22px
      line-height: 40px
      text-align: center
      width: getSizeForNColumns(5)
      margin-left: auto
      margin-right: auto
      margin-bottom: 20px


    .author
      text-align: center
      position: relative
      margin-bottom: 90px

      &:after
        content: " "
        position: absolute
        width: 10px
        height: 10px
        border-radius: 5px
        top: 60px
        left: 50%
        margin-left: -5px
        background-color: $echapPlaygroundColor


    & > div
      width: getSizeForNColumns(6)
      margin-left: auto
      margin-right: auto
      text-align: center
      font-weight: 600
      font-size: 18px
      line-height: 24px

      p
        margin-bottom: 30px

        &:last-child
          margin-top: 60px


    div.signature
      font-weight: 200
      line-height: 40px
      float: right
      color: $echapNightColor
      background: url('/assets/yay.svg') no-repeat right 0
      padding-right: 30px


.artists 

  padding-bottom: 250px

  ul
    margin: 0 auto
    width: $colSize*10

  li
    float: left
    padding: 0 $gutter/2
    margin-bottom: 90px
    position: relative
    cursor: pointer
    width: $colSize*2
    height: 14vw


    &:nth-child(1), &:nth-child(8), &:nth-child(12)

      &:after, &:before
        position: absolute
        font-size: 60px
        font-weight: 600
        top: 0
        right: -40px

      &:before
        margin-left: 4px
        margin-top: 4px

      &:after
          color: $black
        

      &:nth-child(1)
        &:after, &:before
          content: "LIVE"
        &:before  
          color: $echapLiveColor

      &:nth-child(8)
        &:after, &:before
          content: "PLAYGROUND"
        &:before  
          color: $echapPlaygroundColor

      &:nth-child(12)
        &:after, &:before
          content: "NIGHT"
        &:before  
          color: $echapNightColor
        
    p
      font-weight: bold
      text-align: center

    &.live .pic
      border: 5px solid $echapLiveColor

    &.night .pic
      border: 5px solid $echapNightColor

    &.playground .pic
      border: 5px solid $echapPlaygroundColor

    .pic
      width: $colSize*2 - $gutter
      height: $colSize*2 - $gutter
      border-radius: $colSize*2 - $gutter
      background-size: 100% 100%
      margin-bottom: 20px

.places 
  
  h2
    position: absolute
    top: -70px
    left: getSizeForNColumns(1) + $gutter


  & > div
    position: relative
    height: 825px
    background: #FFF url('/assets/__map.png') no-repeat 50% 100px
    background-size: $colSize*9
    margin: 0 auto
    width: getSizeForNColumns(10)
    margin-bottom: 220px


  ul
    padding-top: 600px
    margin-left: getSizeForNColumns(1)


    li
      display: inline-block
      width: $colSize*4
      padding-left: $gutter

      p.name
        font-weight: 600
        font-size: 22px
        line-height: 40px

      &:first-child

        p.name
          color: $echapNightColor

      &:last-child

        p.name
          color: $echapLiveColor

      .address
        margin-bottom: 20px

      .links a:first-child
        display: inline-block  
        text-transform: uppercase
        background-color: $black
        margin-right: 10px
        color: #FFF
        padding: 20px
        font-weight: 600

.infos
  background-color: #FFF
  line-height: 24px

  h2
    padding-top: 30px

  .content
    margin: 0 auto
    width: $colSize*10

    & > div
      float: left
      width: $colSize*5
      margin-bottom: 60px
      padding: 0 $colSize/2 0 $gutter/2

      &:nth-child(2n+1), &.follow
        clear:left

      &.follow, &.contact
        li:before
          content: ""

      &.follow li
        float: left
        width: 40px 
        height: 40px
        margin-right: 30px
        
        a
          width: 40px
          height: 40px
          display: inline-block
          border: none

        &.fb
          background: url('/assets/fb-black.svg') no-repeat 0 0

        &.twitter
          background: url('/assets/twitter-black.svg') no-repeat 0 0

        &.insta
          background: url('/assets/insta-black.svg') no-repeat 0 0

        
      &.contact

        clear:none
        
          li
            margin-bottom: 20px

            span:first-child
              width: getSizeForNColumns(2)
              margin-right: $gutter
              vertical-align: top
            span
              width: getSizeForNColumns(3)
              display: inline-block

      p + h3
        margin-top: 60px

      p, ul, dl
        margin-bottom: 30px

      p + ul
        margin-top: -20px

      li
        padding-left: $gutter/2
        margin-bottom: 15px
        position: relative

        // tried `.short-list &` but didn't work maybe because of depth in the cascade

        &:before
          content:"•"
          position: absolute
          left: 0
          color: $pink
          font-size: 200%

      .short-list li //see comment a few line before
        margin-bottom: 2px

      dl 

        dt 
          float: left
          clear: left

        dd
          margin-bottom: 20px

        & dd, &.col-1 dd
          margin-left: $colSize

        &.col-2 dd
          margin-left: 2*$colSize


  ul.sponsors
    width: getSizeForNColumns(8)
    margin: 0px auto 50px auto

    li
      float: left
      margin: 0 $gutter $gutter 0

      &.sponsors--info
        float: none;
        display: block;
        text-align: center;
        line-height: 24px
        margin-bottom: 2*$gutter

      &:nth-child(8n+1)
        margin-right: 0

      a
        border-bottom: none;

      img
        width: $colSize - $gutter
        height: $colSize - $gutter

      
  ul.credits
    width: 700px
    margin: 0px auto 50px auto 

    li
      display: inline-block
      margin-right: 25px
      position: relative

      &:not(:first-child):after
        content: " "
        position: absolute
        background-color: $echapNightColor
        width: 2px
        height: 2px
        top: 8px
        left: -15px


      &:last-child
        margin-right: 0
      

.association
  background-color: $echapNightColor
  color: #FFF
  padding-top: 100px

  .container
    margin: 0 auto
    width: getSizeForNColumns(12)
    

  .col
    width: getSizeForNColumns(6)
    float: left

    &:first-child
      padding-left: getSizeForNColumns(1) + $gutter
      padding-right: $colSize
      position: relative

      &:after
        content: ""
        background: url('/assets/yay-big.svg') no-repeat 0 -0
        position: absolute
        top: -30px
        left: 20px
        width: 52px
        height: 75px    

    p
      margin-bottom: 20px
      line-height: 24px


  .history
    
    padding-left: $gutter

    ul
      padding-left: getSizeForNColumns(1)
      margin-bottom: 30px
      color: #000
      position: relative


      &:nth-child(1):before
        content: "2015"

      &:nth-child(2):before
        content: "2014"

      &:nth-child(3):before
        content: "2013"

      &:before
        position: absolute
        color: #FFF
        top: 5px
        left: 0px
        font-size: 22px
        font-weight: 600

      &:after
        content: ""
        position: absolute
        width: 3px
        background-color: $black
        top: 30px
        bottom: 45px
        left: 25px

      li
        padding-left: 20px
        margin-bottom: 10px


      p.title
        color: #FFF
        font-weight: bold
        margin-bottom: 0px

  h3
    color: #FFF

.modal-artist
  position: fixed
  top: 100px
  left: 0
  right: 0
  bottom: 0
  z-index: 99

  @media screen and (max-height: 800px)
    top: 0


  &.hide
    display: none

  .container
    width: getSizeForNColumns(12)
    margin: 0 auto
    background-color: $black

  .col
    width: 50%
    float: left

  .top p
    display: table-cell
    width: 50%
    height: 100%

  p.artist-name
    text-align: center
    vertical-align: middle
    font-weight: bold
    font-size: 42px
    padding: 20px
    line-height: 42px
    text-transform: uppercase
    color: #FFF

  .middle
    width: 100%
    height: 100px

    .party
      float: left
      width: 66.66%
      text-align: center
      line-height: 100px
      font-weight: 600
      font-size: 22px
      text-transform: uppercase
      color: #FFF

      &.live
        background-color: $echapLiveColor

      &.playground
        background-color: $echapPlaygroundColor

      &.night
        background-color: $echapNightColor

    .place
      float: right
      width: 33.33%
      background-color: #FFF
      height: 100%
      text-align: center
      padding-top: 30px

      p
        font-weight: bold

  .pic img
    width: 300px
    height: 300px
    vertical-align: top
  
  .soundcloud
    width: calc(100% - 100px)
    float: left

  .buttons
    float: right

    li
      width: 100px
      height: 100px
      cursor: pointer

    a
      display: block
      width: 100px
      height: 100px
      border: none

    .close
      background: $echapNightColor url("/assets/close.svg") no-repeat 50% 50%

    .sc
      background: #F75403 url("/assets/soundcloud.svg") no-repeat 50% 50%

    .fb
      background: #3B5998 url("/assets/fb.svg") no-repeat 50% 50%
      

  .description
    color: #FFF
    width: 400px
    padding-left: 40px
    padding-top: 30px
    padding-bottom: 30px

    .head
      font-weight: 200
      margin-bottom: 30px

      span:first-child
        width: 200px
        display: inline-block

      span:last-child
        float: right

    p
      font-weight: 600
      line-height: 24px

.modal-place
  
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 99
  overflow: auto

  &.coatkaer
    .infos-place > div
      float: right

  &.hide
    display: none

  .container
    width: getSizeForNColumns(12)
    margin: 50px auto 0 auto
    background-color: $black
    position: relative
    padding: 50px
    color: #FFF

    @media screen and (max-height: 800px)
      margin-top: 0


  a
    color: #FFF
    border-bottom-color: #FFF

  .close-modale
    width: 100px
    height: 100px
    position: absolute
    right: 0
    top: 0
    background: $echapNightColor url("/assets/close.svg") no-repeat 50% 50%
    cursor: pointer


  .pic
    position: absolute
    top: 0
    right: 100px


  .place-name
    width: 300px
    height: 300px
    display: table-cell
    text-align: center
    vertical-align: middle
    font-weight: bold
    font-size: 42px
    line-height: 50px
    z-index: 9
    position: relative


  .infos-place
    margin-top: -15px
    font-size: 16px

  .infos-place > div, .content > div
    float: left
    width: 50%

  .address
    text-align: right
    padding-right: 100px // to fix


  .content
    width: getSizeForNColumns(10)
    margin: 0 auto
    margin-top: 55px
    font-size: 18px
    line-height: 28px
    font-weight: 200

    & > div
      padding-left: $gutter/2

    & > div:first-child
      padding-right: $gutter

    p
      margin-bottom: 15px

    em
      padding: 3px 5px

    em.night
      background-color: $echapNightColor

    em.playground
      background-color: $echapPlaygroundColor

    em.live
      background-color: $echapLiveColor

    








  



